services:
  notifier:
    build: .
    image: braispcastro/apps-income-notifier
    container_name: apps-income-notifier
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=Europe/Madrid
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
